<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Forum - Page 2 &bull; Destronia</title>
<meta name="author" content="Destronia">

<meta property="og:title" content="Forum - Page 2 &bull; Destronia">
<meta property="og:type" content="website">
<meta property="og:url" content="https://destronia.com/forum/view/17-updates/?p=2">
<meta property="og:image" content="https://destronia.com/core/assets/img/site_image.png">

<meta name="twitter:title" content="Forum - Page 2 &bull; Destronia">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://destronia.com/core/assets/img/site_image.png">
<script src="../../../cdn-cgi/apps/head/kDXALJNSl6C_KKz5LR5u5l8-n2o.js"></script><link rel="shortcut icon" href="../../../uploads/favicons/16290fbd1cee08_ihfnpgjemolkq.png" type="image/x-icon">
<link rel="stylesheet" href="../../../custom/templates/Bootstrap4/css/darkly.min.css">
<link rel="stylesheet" href="../../../core/assets/css/custom.css">
<link rel="stylesheet" href="../../../ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous">
<link rel="stylesheet" href="../../../core/assets/plugins/toastr/toastr.min.css">
<link rel="stylesheet" href="../../../custom/templates/Bootstrap4/css/custom.css">
<script async="" src="../../../gtag/js?id=337544028"></script>
<script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '337544028');
        </script>
</head>
<body>
<div id="particles-js"></div><nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
<div class="container">
<a class="navbar-brand" href="../../../index.htm">Destronia</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="../../../index.htm" target=""><i class="fas fa-home"></i> Home</a></li>
<li class="nav-item active">
<a class="nav-link" href="../../index.htm" target=""><i class="fas fa-comments"></i> Forum</a></li>
<li class="nav-item">
<a class="nav-link" href="https://bit.ly/Destronias_Discord" target="_blank"><i class="fab fa-discord"></i> Discord</a></li>
<li class="nav-item">
<a class="nav-link" href="https://github.com/Destronia" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> More</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="../../../staff/users/index.htm" target=""><i class="fas fa-users-cog"></i> Staff Members</a>
<a class="dropdown-item" href="https://bit.ly/Destronia-appeal" target="_blank"><i class="fas fa-gavel"></i> Ban Appeal</a>
<a class="dropdown-item" href="../../../members/index.htm" target=""><i class="icon fas fa-users fa-fw"></i> Members</a>
<a class="dropdown-item" href="../../../suggestions/index.htm" target=""> Suggestions</a>
</div>
</li>
</ul>
<ul class="nav navbar-nav">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
Guest
</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="../../../login/index.htm" target="">Log In</a>
<a class="dropdown-item" href="../../../register/index.htm" target="">Register</a>
</div>
</li>
</ul>
</div>
</div>
</nav>
<div class="container" style="padding-top: 5rem;">
</div>
<div class="container">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-md-9">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="../../index.htm">Home</a></li>
<li class="breadcrumb-item"><a href="../1-welcome-%26-information/index.htm">Welcome & Information</a></li>
<li class="breadcrumb-item active">Updates</li>
</ol>
<h3 style="display: inline;">Updates</h3><br><br>
<div class="table-responsive">
<table class="table table-striped">
<tr>
<th>Topic</th>
<th>Stats</th>
<th>Last Reply</th>
</tr>
<tr>
<td>
<i class="fas fa-thumbtack"></i> <a href="../../topic/22-giveaway-update!/index.htm">Giveaway Update!</a><br>
<small><span data-toggle="tooltip" data-trigger="hover" data-original-title="30 May 2020, 00:10">over 2 years ago</span> by <a style="color:#FF0000; " href="../../../profile/RedTrillix/index.htm" data-poload="/queries/user/?id=1" data-html="true" data-placement="top">redtrillix</a></small>
</td>
<td>
<strong>462</strong> views<br>
<strong>1</strong> posts
</td>
<td>
<div class="row">
<div class="col-md-3">
<div class="frame">
<a href="../../../profile/RedTrillix/index.htm"><img class="img-centre rounded" style="height:40px; width:40px;" src="../../../uploads/avatars/1.png?v=1627388940" alt="redtrillix"></a>
</div>
</div>
<div class="col-md-9">
<span data-toggle="tooltip" data-trigger="hover" data-original-title="30 May 2020, 00:10">over 2 years ago</span><br>by <a style="color:#FF0000; " href="../../../profile/RedTrillix/index.htm" data-poload="/queries/user/?id=1" data-html="true" data-placement="top">redtrillix</a>
</div>
</div>
</td>
</tr>
<tr>
<td>
<a href="../../topic/16-snapshot-20w12a/index.htm">Snapshot 20w12a</a><br>
<small><span data-toggle="tooltip" data-trigger="hover" data-original-title="20 Mar 2020, 23:05">over 2 years ago</span> by <a style="color:#FF0000; " href="../../../profile/RedTrillix/index.htm" data-poload="/queries/user/?id=1" data-html="true" data-placement="top">redtrillix</a></small>
</td>
<td>
<strong>346</strong> views<br>
<strong>1</strong> posts
</td>
<td>
<div class="row">
<div class="col-md-3">
<div class="frame">
<a href="../../../profile/RedTrillix/index.htm"><img class="img-centre rounded" style="height:40px; width:40px;" src="../../../uploads/avatars/1.png?v=1627388940" alt="redtrillix"></a>
</div>
</div>
<div class="col-md-9">
<span data-toggle="tooltip" data-trigger="hover" data-original-title="20 Mar 2020, 23:05">over 2 years ago</span><br>by <a style="color:#FF0000; " href="../../../profile/RedTrillix/index.htm" data-poload="/queries/user/?id=1" data-html="true" data-placement="top">redtrillix</a>
</div>
</div>
</td>
</tr>
</table>
</div>
<ul class="pagination d-inline-flex"><li class="page-item "><a class="page-link" href="index-1.htm?p=1">&laquo;</a></li><li class="page-item "><a class="page-link" href="index-1.htm?p=1">1</a></li><li class="page-item  active "><a class="page-link" href="index-2.htm?p=2">2</a></li><li class="page-item  disabled "><a class="page-link" href="#">&raquo;</a></li></ul>
</div>
<div class="col-md-3">
<form class="form-horizontal" role="form" method="post" action="/forum/search/">
<div class="input-group">
<input type="text" class="form-control input-sm" name="forum_search" placeholder="Search">
<input type="hidden" name="token" value="44bb92948a5c74c27e1d115246135fab">
<div class="input-group-append">
<button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
</div>
</div>
</form>
<br>
<div class="card">
<div class="card-body">
<h2>Online Users</h2>
There are no users online.
</div>
</div>
<br>
</div>
</div>
</div>
</div>
</div>
<br>
<footer>
<div class="container">
<div class="card">
<div class="card-body">
<a href="../../../contact/index.htm" target="_blank"><i id="social-em" class="fas fa-envelope-square fa-3x social"></i></a>
<span class="float-md-right">
<ul class="nav nav-inline dropup">
<li class="nav-item">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
&copy; Destronia 2022
</a>
<div class="dropdown-menu" aria-labelledby="Preview">
<a class="dropdown-item" target="_blank" href="https://namelesshosting.com/">Powered by NamelessHosting</a>
<a class="dropdown-item" target="_blank" href="https://namelessmc.com/">Software by NamelessMC</a>
<a class="dropdown-item" href="../../../terms/index.htm">Terms and Conditions</a>
<a class="dropdown-item" href="../../../privacy/index.htm">Privacy Policy</a>
</div>
</li>
</ul>
</span>
</div>
</div>
<center><a target="_blank" href="https://namelesshosting.com/">Powered by NamelessHosting</a></center>
</div>
</footer>
<br>
<script type="text/javascript" src="../../../custom/templates/Bootstrap4/js/jquery.min.js"></script>
<script type="text/javascript" src="../../../custom/templates/Bootstrap4/js/popper.min.js"></script>
<script type="text/javascript" src="../../../custom/templates/Bootstrap4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../core/assets/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript" src="../../../core/assets/js/jquery.cookie.js"></script>
<script type="text/javascript">
			   $(".pop").popover({ trigger: "manual" , html: true, animation:false, placement: "top" })
			    .on("mouseenter", function () {
			        var _this = this;
			        $(this).popover("show");
			        $(".popover").on("mouseleave", function () {
			            $(_this).popover('hide');
			        });
			    }).on("mouseleave", function () {
			        var _this = this;
			        setTimeout(function () {
			            if (!$(".popover:hover").length) {
			                $(_this).popover('hide');
			            }
			        }, 300);
			   });
			   $(function () {
			      $('[data-toggle="tooltip"]').tooltip()
			      });
			      $(function () {
			      $('[rel="tooltip"]').tooltip()
			      });
			
			      $('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false}).on("mouseenter", function () {
			      var _this = this;
			      $(this).popover("show");
			      $(".popover").on("mouseleave", function () {
			        $(_this).popover('hide');
			      });
			      }).on("mouseleave", function () {
			      var _this = this;
			      setTimeout(function () {
			        if (!$(".popover:hover").length) {
			          $(_this).popover("hide");
			        }
			      }, 300);
				});
				
				$(document).ready(function(){
					var cachedUsers = {};
					var timeoutId;

				   $('*[data-poload]').mouseenter(function (){
				   	var elem = this;
				   	if(!timeoutId){
				        timeoutId = window.setTimeout(function() {
				            timeoutId = null;
						    var data = cachedUsers[$(elem).data('poload')];
						    $(elem).popover({trigger:"manual",animation:false,content:data.html}).popover("show");
						    $('.popover').mouseleave(function (){
						        if(!$(".popover:hover").length){
						          $(this).popover("hide");
						        }
						    });
				       }, 1000);
				       
				       // Get data now
				       $.get($(elem).data('poload'), function(d) {
				            
				            var data = JSON.parse(d);
					        cachedUsers[$(elem).data('poload')] = data;
					        // Preload image
					        var tmp = document.createElement('div');
					        tmp.innerHTML = data.html;
					        var img = tmp.getElementsByTagName('img')[0];
					        var image = new Image();
					        image.src = img.src;
				       });
				    }
				   }).mouseleave(function (){
					   var elem = this;
					   if(timeoutId){
					        window.clearTimeout(timeoutId);
					        timeoutId = null;
					   } else {
					      setTimeout(function () {
					        if(!$(".popover:hover").length){
					          $(elem).popover("hide");
					        }
					      }, 200);
					   }
				   });
				});
				
			    function copyToClipboard(element) {
			      var $temp = $("<input>");
			      $("body").append($temp);
			      $temp.val($(element).text()).select();
			      document.execCommand("copy");
			      $temp.remove();

			      toastr.options.onclick = function () {};
			      toastr.options.progressBar = true;
			      toastr.options.closeButton = true;
			      toastr.options.positionClass = 'toast-bottom-left'
			      toastr.success("Copied!");
			    }
			    
			    var announcements = document.querySelectorAll('[id^="announcement"]');
			    announcements.forEach((announcement) => {
			      var closeButton = announcement.querySelector('.close');
			      if (closeButton) {
			        closeButton.addEventListener('click', function() {
			          document.cookie = announcement.id + '=true; path=/';
			        });
			      }
			    });
			</script>
<script type="text/javascript">
					toastr.options.timeOut = 0;
		            toastr.options.extendedTimeOut = 0;
		            toastr.options.closeButton = true;

		            toastr.options.onclick = function() { $('.toast .toast-close-button').focus(); }
		            toastr.options.onHidden = function() { $.cookie('accept', 'accepted', { path: '/' }); }

		            toastr.options.positionClass = 'toast-bottom-left';

		            toastr.info('This website uses cookies to enhance your browsing experience. By registering on our website or closing this notice you agree with their use.');
					</script>
<script type="text/javascript">$.getJSON('/queries/servers/', function(data) {});</script>
</body>
</html>
